<div class="jumbotron">
    <h1>  MUSTAFA CAN AYDIN </h1>
    <p class="lead">Mustafa Can Aydın'ın internet sitesidir. HTML, CSS ve JavaScript kullanılarak yapıldı.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Daha fazlası &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
        a broad range of clients, including browsers and mobile devices. ASP.NET Web API
        is an ideal platform for building RESTful applications on the .NET Framework.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Yardımcı linklere erişim.</h2>
        <p>Çeşitli yardımcı linkler kullanılmıştır.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301871">Daha fazlası &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Sunuculuğu</h2>
        <p>Çeşitli ücretler karşılığında çalışan web sunuculuğu bulabilirsiniz.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301872"> Daha fazlası &raquo;</a></p>
    </div>
</div>
